#modal-form.modal.fade(aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-body
				.row
					.col-sm-6.b-r
						h3.m-t-none.m-b Sign in
						p Sign in today for more expirience.
						form(role='form')
							.form-group
								label Email
								input.form-control(type='email', placeholder='Enter email')
							.form-group
								label Password
								input.form-control(type='password', placeholder='Password')
							div
								button.btn.btn-sm.btn-primary.pull-right.m-t-n-xs(type='submit')
									strong Log in
								label
									input.i-checks(type='checkbox')
									|  Remember me
					.col-sm-6
						h4 Not a member?
						p You can create an account:
						p.text-center
							a(href='')
								i.fa.fa-sign-in.big-icon
